<h2>{{getHeader()}}</h2>
<button (click)="addValue()">{{getAddValue()}}</button>
<ul class="values">
  <li *ngFor= "#value of values"  (click)="goToDetail(value)">
    <div class="info" [ngClass]="getAdditionalClassesOnInfo(value)">
      <div class="name">
        {{getName(value)}}
      </div>
      <div class="additional">
        <span *ngFor= "#additional of getAdditionalInfos(value)" [ngClass]="additional.class">{{additional.value}}</span>
      </div>
    </div>
    <div class="actions">
      <button (click)="goToDetail(value)">Edit</button>
      <button *ngFor= "#button of getAdditionalButtons(value)" (click)="button.click()">{{button.value}}</button>
    </div>
  </li>
</ul>
