body {
  font-family: 'Merriweather', serif;
}

fieldset {
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  background-color: #F2EFE9;
  background: linear-gradient(#FFF 0.25em,#F2EFE9); /* Standard syntax */
  border: 1px solid #BFBAB0;
  border-radius:4px;
  display: flex;
  flex: auto;
}
legend {
  margin-left: 0.75em;
  margin-bottom: 0.25em;
  color: #000000;
  font-weight: bold;
  padding:0;
}
label {
  margin-left: 0.75em;
}

.forms_controlLabel {
    width:10em;
    margin-right:0.5em;
    padding-top:0.2em;
    text-align: right;
    font-weight:bold;
}
.forms_control{
    margin-top:0.25em;
    margin-bottom:0.25em;
    margin-left:0.5em;
    margin-right:0.5em;
    display: flex;
    flex:auto;
}
.forms_controlInput{
    /*width: 256px;*/
    flex:auto;
    margin-left:0.5em;
    margin-right:0.5em;
}
button.forms_controlInput{
    flex:none;
    width:16em;
}
input[type='checkbox'].forms_controlInput{
    flex:none;
}
.forms_controlValidation{
    color:red;
    margin-left: 16px;
}
.forms_ArrayControls{
    margin-top: 0.25em;
}

.male {
  background-color: #2175bc !important;
  border-color: #2175bc !important;
}
.male:hover {
  background-color: #2586d7 !important;
}
.male:active {
  background-color: #3b94dd !important;
}
.female{
  background-color: #bc2121 !important;
  border-color: #bc2121 !important;
}
.female:hover {
  background-color: #d72525 !important;
}
.female:active {
  background-color: #dd3b3b !important;
}
.unknown{
  background-color: #6e6e6e !important;
  border-color: #6e6e6e !important;
}
.unknown:hover {
  background-color: #7e7e7e !important;
}
.unknown:active {
  background-color: #8c8c8c !important;
}
